* {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0;
    outline: 0;
    padding: 0;
    margin: 0;
  }

  .navbar{
      font-family: sans-serif;
      background-color: slategray;
      height: 45px;
      padding-left: 510px;
      text-align: center;
  }

  .navbar ul{
      display: flex;
      flex-direction: row;
      list-style: none;
      font-size: 23px;
      padding-top: 8px;
      text-align: center;
  }

  .navbar li{
      padding-right: 28px;
  }

  .navbar li a{
      color: whitesmoke;
      text-decoration: none;
  }

  .navbar li a:hover{
      color: rgb(39, 177, 223);
      text-decoration: none;
      transition: 0.1s ease-in;
  }

  #Home{
      background-color: red;
      height: 350px;
      text-align: center;
      font-size: 50px;
      font-family: sans-serif;
      padding-top: 150px;
  }

  #Home .btn{
      border: black solid 2px;
      font-size: 14px;
  }