@media (max-width: 1590px) {
    
    .nav-links{
        height: 0px;
        margin-left: 489px;
    }

    .nav-links li {
        display: inline-block;
        padding: 0.9rem 1.1rem;
        font-size: 1.3rem;
        font-family: sans-serif;
        z-index: 2;
        position: relative;
        top: 40px;
    }
    
    .nav-links li a {
        text-decoration: none;
        color: whitesmoke;
    }
    
    .nav-links li a:hover {
        text-decoration: underline;
        transition: ease-in 0.1s;
    }
    
    .logo{
        position: absolute;
        height: 90%;
        z-index: 2;
        top: 30px;
        left: 400px;
    }
    
    .section h1 {
        position: absolute;
        top: 330px;
        left: 550px;
        font-size: 4rem;
        font-family: sans-serif;
        color: whitesmoke;
        z-index: 2;
        display: none;
    }
    
     .section p {
        position: absolute;
        font-size: 2rem;
        color: rgb(93,172,189);
        z-index: 2;
        font-family: sans-serif;
        top: 450px;
        left: 450px;
    }

    #linkedin{
        position: absolute;
        left: 598px;
        top: 500px;
        color: rgb(93,172,189);
        z-index: 2;
    }

    #linkedin a {
        cursor: pointer;
    }

    #github{
        position: absolute;
        left: 680px;
        top: 500px;
        color: rgb(93,172,189);
        z-index: 2;
    }

    #github a {
        cursor: pointer;
    }
    
    video {
        background-image: cover;
        width: 100%;
        overflow: hidden;
        z-index: 0;
    }
    
    .color-overlay {
        position: absolute;
        background-color: black;
        width: 100%;
        height: 126.5%;
        overflow: hidden;
        opacity: 0.4;
        z-index: 1;
    }
    
    .skills {
        height: 220vh;
        margin-top: -10px;
        background-color: slategrey;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .skills h2 {
        text-align: center;
        font-size: 9rem;
        margin-top: 50px;
    }
    
    .card, .name {
        font-size: 2rem;
        margin: 30px;
        text-align: center;
        font-family: sans-serif;
    }
    
    .card {
        background: whitesmoke;
        width: 300px;
        height: 300px;
        margin: 95px 10px -90px 20px;
        border-radius: 15px;
        box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, .2);
    }
    
    .projects {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        height: 79vh;
        margin-top: -5px;
    }
    
    .project{
        height: 300px;
        width: 300px;
        border: 1px black solid;
        margin: 75px 10px -30px 20px;
        border-radius: 15px;
        box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, .2);
    }
    
    .project:nth-child(1) {
        background: url('./images/infinity-scroll.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .project:nth-child(2) {
        background: url('./images/Weather-app.png');
        background-repeat: no-repeat;
        background-size: contain;
    }
    
    .project:nth-child(3) {
        background: url('./images/tic-tac.png');
        background-repeat: no-repeat;
        background-size: contain;
    }
    
    .project:nth-child(4) {
        background: url('./images/crowdfund-site.png');
        background-repeat: no-repeat;
        background-size: cover;
    
    }
    
    #repo {
        position: relative;
        background-color: rgb(93,172,189);
        top: 300px;
        left: 6px;
        padding: 10px;
        margin: 25px;
        border-radius: 5px;
        border: none;
        font-size: 15px;
        font-weight: bold;
        font-family: sans-serif;
    }
    
    #repo:hover {
        cursor: pointer;
        transform: scale(100px);
    }
    
    footer {
        text-align: center;
        color: whitesmoke;
        background-color: black;
        height: 7vh;
    }
    
    footer h5 {
        font-family: sans-serif;
        padding-top: 15px;
        text-decoration: underline;
        font-weight: bold;
    }
}