header{
    display: flex;
}

.nav-links{
    list-style: none;
    background-color: black;
    height: 8vh;
    padding-left: 34vw;
}

.nav-links li{
    display: inline-block;
    padding: 0.9rem 1.1rem;
    font-size: 1.3rem;
    font-family: sans-serif;
    z-index: 2;
}

.nav-links li a {
    text-decoration: none;
    color: whitesmoke;
}

.nav-links li a:hover {
    color: #748e54;
    transition: ease-in 0.1s;
}


.section h1 {
    position: absolute;
    top: 330px;
    left: 520px;
    font-size: 4rem;
    font-family: sans-serif;
    color: whitesmoke;
    z-index: 2;
}

video{
    background-image: cover;
    width: 100%;
    overflow: hidden;
    z-index: 0;
}

.color-overlay{
    position: absolute;
    background-color: slategrey;
    width: 100%;
    height: 123vh;
    overflow: hidden;
    opacity: 0.6;
    z-index: 1;
}

@media (max-width: 480px) {
    .nav-links {
        padding-left: 42vw;
        height: 30vh;
    }

    .nav-links li {
        display: flex;
        flex-direction: columns; 
        border-bottom: solid whitesmoke 1px;
        margin-right: 170px;
    }
}