header{
    display: flex;
}

.nav-links{
    list-style: none;
    background-color: black;
    height: 8vh;
    padding-left: 34vw;
    z-index: 2;
}

.nav-links li{
    display: inline-block;
    padding: 0.9rem 1.1rem;
    font-size: 1.3rem;
    font-family: sans-serif;
    z-index: 2;
}

.nav-links li a {
    text-decoration: none;
    color: whitesmoke;
}

.nav-link li a:hover {
    color: white;

}

.section h1 {
    position: absolute;
    text-align: center;
    font-size: 4rem;
    font-family: sans-serif;
    background: white;
    padding: 20px;
    margin: 15px;
    z-index: 1;
}

video{
    background-image: cover;
    width: 100%;
}

@media (max-width: 480px) {
    .nav-links {
        padding-left: 42vw;
        height: 30vh;
    }

    .nav-links li {
        display: flex;
        flex-direction: columns; 
        border-bottom: solid whitesmoke 1px;
        margin-right: 170px;
    }
}