header{
    display: flex;
}

.nav-links{
    list-style: none;
    background-color: black;
    height: 8vh;
    padding-left: 34vw;
}

.nav-links li{
    display: inline-block;
    padding: 0.9rem 1.1rem;
    font-size: 1.3rem;
    font-family: sans-serif;
}

.nav-links li a {
    text-decoration: none;
    color: whitesmoke;
}

video{
    background-image: cover;
    width: 100%;
}

@media (max-width: 480px) {
    .nav-links {
        padding-left: 42vw;
        height: 30vh;
    }

    .nav-links li {
        display: flex;
        flex-direction: columns; 
        border-bottom: solid whitesmoke 1px;
        margin-right: 170px;
    }
}