header{
    display: flex;
}

.nav-links{
    list-style: none;
    background-color: black;
    height: 8vh;
    padding-left: 33vw;
}

.nav-links li{
    display: inline-block;
    padding: 0.9rem 1.1rem;
    font-size: 1.3rem;
    font-family: sans-serif;
}

.nav-links li a {
    text-decoration: none;
    color: whitesmoke;
}