header {
    display: flex;
}

.nav-links {
    list-style: none;
    background-color: black;
    height: 8vh;
    padding-left: 34vw;
}

.nav-links li {
    display: inline-block;
    padding: 0.9rem 1.1rem;
    font-size: 1.3rem;
    font-family: sans-serif;
    z-index: 2;
}

.nav-links li a {
    text-decoration: none;
    color: whitesmoke;
}

.nav-links li a:hover {
    color: #748e54;
    transition: ease-in 0.1s;
}


.section h1 {
    position: absolute;
    top: 330px;
    left: 550px;
    font-size: 4rem;
    font-family: sans-serif;
    color: whitesmoke;
    z-index: 2;
}

.section p {
    position: absolute;
    font-size: 2rem;
    color: whitesmoke;
    z-index: 2;
    font-family: sans-serif;
    top: 420px;
    left: 450px;
}

video {
    background-image: cover;
    width: 100%;
    overflow: hidden;
    z-index: 0;
}

.color-overlay {
    position: absolute;
    background-color: slategrey;
    width: 100%;
    height: 123%;
    overflow: hidden;
    opacity: 0.6;
    z-index: 1;
}

.skills {
    height: 70vh;
    margin-top: -23px;
    background-color: slategrey;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skills h2 {
    text-align: center;
    font-size: 9rem;
    margin-top: 50px;
}

.card, .name {
    font-size: 2rem;
    margin: 35px;
    text-align: center;
    font-family: sans-serif;
}

.card {
    background: whitesmoke;
    width: 300px;
    height: 300px;
    margin: 75px 10px -30px 20px;
    border-radius: 15px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, .2);
}

.projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 70vh;
    margin-top: -23px;
}

.project{
    height: 300px;
    width: 300px;
    border: 2px black solid;
    margin: 75px 10px -30px 20px;
    border-radius: 15px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, .2);
}

.container {
    display: flex;
    justify-content: center;
    padding-top: 150px;
    height: 100vh;
    background-color: slategrey;
}

#Contact {
    background-color: whitesmoke;
    width: 40vw;
    height: 85vh;
    border-radius: 2%;
    padding-top: 25px;
    font-family: sans-serif;
}

#Contact h4{
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    padding-bottom: 55px;
    font-size: 1.5rem;
}

#name{
    margin-left: 130px;
    width: 50%;
    height: 5%;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid slategrey;
}

#email{
    margin-top: 30px;
    margin-left: 130px;
    width: 50%;
    height: 5%;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid slategrey;
}

#question{
    margin-top: 35px;
    height: 130px;
    width: 65%;
    margin-left: 95px;
    color: slategrey;
    border-radius: 4px;
}

#send{
    margin-left: 220px;
    margin-top: 15px;
    padding: 7px;
    width: 85px;
    border-radius: 4px;
    border: none;
    background-color: #748e54;
    font-size: 1rem;
}

footer {
    text-align: center;
    color: whitesmoke;
    background-color: black;
    height: 7vh;
}

footer h5 {
    font-family: sans-serif;
    padding-top: 15px;
    text-decoration: underline;
    font-weight: bold;
}

@media (max-width: 480px) {
    .nav-links {
        padding-left: 42vw;
        height: 30vh;
    }

    .nav-links li {
        display: flex;
        flex-direction: columns; 
        border-bottom: solid whitesmoke 1px;
        margin-right: 170px;
    }

    .nav-links li a:active {
        color: #748e54;
    }
    
}